.w1024.homepage .page-container {
  width: 100%;
}

.wrapper {
  padding-top: 100px;
}

#leftbar, #topban, .homepage #rightbar  {
  background: #fff;
}

.homepage a {
  color: grey;
}

.homepage a:hover {
  color: black;
  text-decoration: none;
}

.homepage .ban {
  background: #fff;
  border-radius: 0 10px 10px 0;
  border: solid 1px #ccc;
  box-shadow: 0 0 25px #F0F0F0;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.5em;
  background: #eee;
  border-left: 5px solid grey;
}

.homepage .ban a:hover {
  background: none;
}

.homepage #logo {
  font-size: 4em;
}

.homepage #postlks #post {
  background-color: #3FC380;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
}

.homepage #postlks li {
  margin-bottom: 10px;
}

#topban {
  border-radius: 10px;
  border: solid 1px #ccc;
  box-shadow: 0 0 25px #F0F0F0;
  margin: 0px 2.5%;
  padding: 10px 0;
  position: absolute;
  right: 0px;
  top: -75px;
  width: 75%;
}

.homepage #rightbar, .homepage .community, #rrr ,#ggg {
  /*margin-top: 2.25em;*/
  display: none;
}

#leftbar {
  border-radius:  0 10px 10px 0;
  border: 1px #ccc solid;
  box-shadow: 0 0 25px #F0F0F0;
  margin-top: -91px;
  padding-top: 20px;
}

.homepage #center {
  width: 75%;
  margin: 0 2%;
  display: flex;
  flex-direction: column;
}

.homepage .housing, .homepage .jobs {
  float: none;;
  padding: 0;
  width: 100%;
}

.homepage .housing {
  order: 2;
}

.homepage .jobs {
  order: 1;
}

/*.homepage .col ul, #jjj ul {
  font-size: medium;
  display: flex;
  flex-wrap: wrap;
}*/
.homepage #ppp ul, .homepage #hhh ul, .homepage #jjj ul {
  font-size: medium;
  display: flex;
  flex-wrap: wrap;
}


.homepage .col ul li {
  margin: 5px;
  padding: 5px;
  width: 17.6%;
}
