.homepage a {
  color: grey;
}
.homepage a:hover {
  color: black;
  text-decoration: none;
}
.homepage .ban {
  background: #fff;
  border-radius: 5px;
  border: solid 1px #ccc;
  box-shadow: 0 0 25px #F0F0F0;
}
.homepage .ban a:hover {
    background: none;
}
#leftbar, #topban, .homepage #rightbar  {
  background: #fff;
}
#logo {
  font-size: 40px;
}
.homepage #logo {
  font-size: 60px;
}
.w1024.homepage .page-container {
    width: 100%;
}
#topban {
  border-radius: 10px;
  border: solid 1px #ccc;
  box-shadow: 0 0 25px #F0F0F0;
  padding: 10px 0;
}
.homepage #postlks #post {
  background-color: #3FC380;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
}
.homepage #postlks li {
    margin-bottom: 10px;
}
